//media query
$telefono: 480px;
$tablet:768px;
$desktop: 1280px;



/* paleta de colores */

$colorheader: #0063c1;
$colorBoton: #fba820;
$colorTitle: #2c2c51;
$colorLista: #4e78f4;
$colorTabla: #f8f8fa;
$colorAzul: #0e79de;
$colorFooter: #413c85;
$colorBlanco: #ffffff;
$colorNegro: #000000;
$colorParrafo: #7b7b93;
$colorRosa : #e63779;
$colorFooter:#fafafd;
$colorMorado:#413c85;



$fuente: 'Poppins', sans-serif;
